myVENV/
Scripts/
src/onlineform/*.pyc
src/reflect/*.pyc
onlineform.sublime-workspace
onlineform.sublime-project
pip-selfcheck.json
src/onlineform/secrets.py
.idea/
src/reflect/__pycache__/*.pyc
src/onlineform/__pycache__/*.pyc
question-nginx.conf
src/reflect/__pycache__/
uwsgi_params
