{% extends "dashboard-base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
	<p>
	時間：{{timestamp}}</br>
	姓名：{{name}}</br>
	email:{{email}}</br>
	類別：{{category}}</br>
	內容：{{content}}</br>
	建議：{{advice}}</br>
	{% if state == 0 %}
	狀態：未讀</br>
	{% elif state == 1 %}
	狀態：處理中</br>
	{% elif state == 2 %}
	狀態：已完成</br>
	{% endif %}
	<a href="{% url 'list' %}"><input type="button" name="Return" value="回清單"></a>
	</p>

	{% if not state == 2 %}
	<form method="POST" action="">{% csrf_token %}	
		<input type="submit" name="Finish" value="已完成">
	</form>
	<hr>
	
	<form method="POST" action="">{% csrf_token %}
		{{form}}
		<input type="submit" name="Reply" value="送出">
	</form>
	{% endif %}

	<table class='table'>
		<tr>
			<td>回覆人</td>
			<td>回覆時間</td>
			<td>回覆內容</td>
		</tr>
		{% for reply in replies %}
		<tr>
			<td>{{  reply.user }}</td>
			<td>{{  reply.timestamp }}</td>
			<td>{{ reply.content }}</td>
		</tr>
		{% empty %}
		<tr>
			<td>未有任何回覆</td>
			<td>無</td>
		</tr>
		{%  endfor %}
	</table>
		
	
{% endif %}
{% endblock %}