{% extends "dashboard-base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
  <header>
    <ol class="breadcrumb">
      <li class="active">問題列表</li>
    </ol>
  </header>
  <div id="content">
    <h1>學聯會回饋管理頁面</h1>
    <div class="box">
      <div class="body">
      		<div class="row">
				<div class="col-md-6 status-row">
					<span class="status-unread" ></span><p>未讀取</p>
					<span class="status-handling"></span><p>處理中</p>
					<span style="" class="status-finished"></span><p>已完成</p>
				</div>
				<div class="col-md-6">
					<form action="" method="post">{% csrf_token %}	
						<select  name="list_selector" > 
							<option value="all">全</option>
							<option value="unread">未讀取</option>
							<option value="handling">處理中</option>
							<option value="finished">已完成</option>
						</select>
					<input type="submit" name="selector" value="篩選"/>
					</form>
				</div>
			</div>
			<div>
				<table class='table'>
					{% if reflection_list %}
						<tr>
							<td></td>
							<td>時間</td>
							<td>名字</td>
							<td>信箱</td>
							<td>類別</td>
							<td>內容</td>
							<td>建議</td>
							<td>詳細</td>
							<td>刪除</td>
						</tr>

						{% for object in reflection_list %}
							{% if object.state == 0 %}
							<tr class="unread_reflection" bgcolor="FFA69E">
							{% elif object.state == 1 %}
							<tr class="read_reflection" bgcolor="B8F2E6">
							{% elif object.state == 2 %}
							<tr class="finished_reflection" bgcolor="FAF3DD">
							{% else %}
							<tr>
							{% endif %}

							<td>
								<a href='/stunion/{{object.id}}/mark'>
								{% if object.important %}
									<i class="fa fa-star"></i>
								{% else %}
									<i class="fa fa-star-o"></i>
								{% endif %}
								</a>
<!-- 								{% if object.state == 0 %}
								狀態：未讀
								{% elif object.state == 1 %}
								狀態：處理中
								{% elif object.state == 2 %}
								狀態：已完成
								{% else %}
								狀態 ：
								{% endif %} -->
							</td>
							<td>{{object.timestamp}}</td>
							<td>{{object.name}}</td>
							<td>{{object.email}}</td>
							<td>
							{% if object.category == 'ACADEMY' %}
							<i class="fa fa-book" aria-hidden="true"></i>
							{% elif object.category == 'RESTAURANT' %}
							<i class="fa fa-spoon" aria-hidden="true"></i>
							{% elif object.category == 'FACILITY' %}
							<i class="fa fa-child" aria-hidden="true"></i>
							{% elif object.category == 'ACTIVITY' %}
							<i class="fa fa-child" aria-hidden="true"></i>
							{% else %}
							其他
							{% endif %}
							</td>

							<td>{{object.content|slice:":10"}}</td>
							<td>{{object.advice|slice:":10" }}</td>
							<td><a href='/stunion/{{object.id}}'>詳細</a></td>
							<td><a href='/stunion/{{object.id}}/delete'>刪除</a></td>
							</tr>					
						{% endfor %}
					{% else %}
						<tr><td>沒有任何意見喔</td></tr>	
					{% endif %}

				</table>
		</div>
    </div>
	</div>
</div>
{% endif %}
{% endblock %}
